@model IEnumerable<ShopTARgv24.Models.Kindergartens.KindergartenIndexViewModel>
@{
    var rowNumber = 1;
}

<div class="h1 text-center">Kindergartens</div>
<div class="d-flex justify-content-end mb-3">
    <a asp-action="create" asp-controller="kindergartens" type="submit" class="btn btn-success">Create</a>
</div>
<form method="post">
    <div class="table-responsive shadow rounded">
        <table class="table table-striped align-middle text-center table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Group name</th>
                    <th scope="col">Group name</th>
                    <th scope="col">Children count</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Kindergarten name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kindergartens in Model)
                {
                    <tr>
                        <td>@rowNumber</td>
                        <td>@kindergartens.GroupName</td>
                        <td>@kindergartens.ChildrenCount</td>
                        <td>@kindergartens.TeacherName</td>
                        <td>@kindergartens.KindergartenName</td>
                        <td>
                            <a asp-action="details" asp-controller="kindergartens" asp-route-id="@kindergartens.Id" class="btn btn-secondary m-1">Details</a>
                            <a asp-action="update" asp-controller="kindergartens" asp-route-id="@kindergartens.Id" class="btn btn-primary m-1">Update</a>
                            <a asp-action="delete" asp-controller="kindergartens" asp-route-id="@kindergartens.Id" class="btn btn-outline-danger m-1">Delete</a>
                        </td>
                    </tr>
                    rowNumber++;
                }
            </tbody>
        </table>
    </div>
</form>